.class-contactComponent{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:auto auto auto auto auto auto auto auto;
  color:white;
  width:80%;
  min-height:25vh;
  padding:0;
  margin:0;
  
  padding-bottom:10%;
  padding-top: 5%;
}
/*.class-contactComponent div{
 
 border:yellow;
 
}*/
.grid-contact-part{
  grid-column: 1/4;
  grid-row: 1/3;
  
  display:flex;
  align-items: center;
  padding-bottom: 1.875rem;
}
.grid-my-wisch-part{
  grid-column:1/3;
  grid-row:3/5;
  
}
.grid-name-part{
  grid-column:4/6;
  grid-row:1/2;
  
  
  
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0.313rem;
  gap:0.313rem;
  
}
.grid-name{
  padding-left:1.25rem;
} 

.input-name{
  padding:0;
  margin:0;
  
  background:transparent;
  border:none;
  color:white;
  outline:none;
  border-bottom: 1px solid white;
}
.name-controll{
  color:red;
  font-size: small;
  padding:0;
  margin:0;
}
.grid-email-part{
  grid-column:4/6;
  grid-row:2/3;
  
  
  
  display:flex;
  flex-direction: column;
  align-items: left;
  gap:0.313rem;
  padding-bottom: 0.313rem;
} 
.grid-email{
  padding-left:1.25rem;
}
.grid-message-part{
  grid-column:4/6;
  grid-row:3/4;
  
  
  
  display:flex;
  flex-direction: column;
  align-items: left;
 
  height:5rem;
  gap:0.313px;
  
}
.grid-message{
  padding-left:1.25rem;
  min-height:3.75rem;
} 
.grid-send-message{
  grid-column: 5/6;
  grid-row: 5/6;
  display:flex;
  justify-content: end;
  padding-top:1.875rem;
  padding-bottom: 4.375rem;
  border-bottom: 1px solid white;
}
 .btn-send{
  background:none;
  border:none;
  color:white;
  cursor:pointer;
  
  padding:0;
 }
.grid-links-part{
    
    
  display:flex;
  align-items:end;
  justify-content:right ;
  gap:1.25rem;
  background-color: var(--black-grey-color);
  padding-top:10%;
  padding-bottom: 0.25rem;
}
.grid-adam-part{
    
    color:white;
    display:flex;
    /*justify-content: left;
    */
    font-weight: 500;
    font-size:1.25rem;
    font-style:inherit;
    align-items: end;
    /*width:60%;*/
    padding:0;
    margin:0;
    padding-top:10%;
}
.email-input-controll,.name-input-controll{
  color:rgb(249, 88, 52);
  font-size: small;
}
.border-bottom{
  border-bottom: 1px solid white;
  padding-bottom: 0.313rem;
}
.empty-cell-1{
  border-bottom: 1px solid white;
}
.empty-cell-2{
  border-bottom: 1px solid white;
}
.empty-cell-3{
  border-bottom: 1px solid white;
}
.empty-cell-4{
  border-bottom: 1px solid white;
}
.empty-cell-5{
  border-bottom: 1px solid white;
}
.empty-cell-6{
  border-bottom: 1px solid white;
}

@media(max-width:50rem){
 .class-contactComponent{
  width:95%;
 }  
 .grid-contact-part{
  grid-column: 2/5;
  grid-row:1/2;
  justify-content:center ;
 }
 .grid-my-wisch-part{
    grid-column: 2/5;
  grid-row:2/3;
  display:flex;
  justify-content: center;
  text-align: center;
 }
 .grid-name-part{
  grid-column:2/5;
  grid-row:3/4;
  padding-top:5%;
 
 }
 .grid-email-part{
  grid-column:2/5;
  grid-row:4/5;
  padding-top:5%;
   
 }
 .grid-message-part{
  grid-column:2/5;
  grid-row:5/6;
  padding-top:5%;
  
 }
 .empty-cell-1{
  grid-column: 2/3 ;
  grid-row: 6/7;
  min-height:4.375rem;
  border-bottom: 1px solid white;
 }
 .empty-cell-2{
  grid-column: 3/5 ;
  grid-row: 6/7;
  min-height:4.375rem;
  border-bottom: 1px solid white;
 }
 .empty-cell-3{
  grid-column:1/2;
  grid-row:7/8;
  border-bottom: 1px solid white;
 }
 .empty-cell-4{
  grid-column:2/3;
  grid-row:7/8;
  border-bottom: 1px solid white;
 }
 .empty-cell-5{
  grid-column:3/4;
  grid-row:7/8;
  border-bottom: 1px solid white;
 }
 

 .grid-send-message{
  grid-column:4/5;
  grid-row:7/8;
  
 }
 .empty-cell-6{
  grid-column:5/6;
  grid-row:7/8;
  border-bottom: 1px solid white;
 }
 .grid-adam-part{
  grid-column: 1/2;
  grid-row:11/12;
 }
 .grid-links-part{
  grid-column:5/6 ;
  grid-row:11/12 ;
 }
 .class-empty-cell{
  border:none;
 }
 
}
@media(max-width:40rem){
  .class-contactComponent{
  width:95%;
 } 
  .grid-adam-part{
  grid-column: 3/4;
  grid-row:11/12;
 }
 .grid-links-part{
  grid-column:3/4 ;
  grid-row:12/13 ;
  padding-top:10%;
  padding-bottom:10%;
  justify-content: space-between;
 }
 .grid-my-wisch-part,.grid-name-part,
 .grid-email-part,.grid-message-part{
    grid-column: 1/6;
 }
 .empty-cell-1{
  grid-column: 1/3;
 }
 .empty-cell-2{
  grid-column:3/6 ;
 }
 .grid-send-message{
  grid-column:4/6;
  
  
 }
}